body {
  margin: 0;
  overflow: hidden;
  font-family: Arial;
}

/* Fondo dinámico */
.sky {
  width: 100%;
  height: 100vh;
  transition: background 1s;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

/* Nubes */
.cloud {
  position: absolute;
  width: 120px;
  height: 60px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
  animation: moveClouds 20s linear infinite;
}

.c1 { top: 20%; left: -150px; }
.c2 { top: 40%; left: -200px; animation-duration: 25s; }

@keyframes moveClouds {
  from { transform: translateX(0); }
  to { transform: translateX(120vw); }
}

/* Torres */
.tower {
  position: absolute;
  bottom: 0;
  width: 70px;
  height: 320px;
  background: linear-gradient(#555, #222);
  box-shadow: inset 0 0 10px black;
}

.t1 { left: 45%; }
.t2 { left: 55%; }

/* Avión */
#plane {
  position: absolute;
  top: 80px;
  left: 0%;
  font-size: 40px;
  transition: left 0.8s ease, top 0.8s ease;
}

/* Panel */
.panel {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

/* ALERTA */
.alert {
  animation: flash 0.5s infinite;
}

@keyframes flash {
  0% { background-color: red; }
  50% { background-color: darkred; }
  100% { background-color: red; }
}
